@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PinThePlace!</h1>
</div>

<!-- Putte inn her hva som skal være på forsiden eks: <partial name="_Carousel" /> -Henter bildekarusell fra filen _Carousel.cshtml-->
